<div ng-repeat="node in $ctrl.summary"  class="node summary non-upscaled">
    <div class="node-main">
        <h3>{{node.id | uppercase}}</h3>
        <h5>Agreed value:</h5>
        <span class="value">{{node.value}}</span>
    </div>
    <div class="click-hint-wrapper">
        <div class="click-hint">click for more details</div>
    </div>
</div>

<div ng-repeat="node in $ctrl.otherNodes"
     class="node non-upscaled {{( node.leader == true) ? 'leader' : ''}}"
     onclick="handleNodeScaling(this)"
     >
    <div class="node-main">
        <h3 class="id-label">
            Node {{node.id}} <span class="leader-label" ng-show="{{node.leader}}">Leader</span>
        </h3>
        <div class="overview">
            <h5 class="value-label">
                Value:
            </h5>
            <span class="value">
                {{node.value}}
            </span>
        </div>
        <div class="details">
            <div class="value-graph">
                <value-graph></value-graph>
            </div>
        </div>
    </div>
    <div class="click-hint-wrapper">
        <div class="click-hint">click for more details</div>
    </div>
</div>

<!--
<table>
    <caption>
        JSON Table
    </caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>VALUE</th>
            <th>Leader</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="node in $ctrl.nodes">
            <td>{{node.id}}</td>
            <td>{{node.value}}</td>
            <td>{{(node.leader == true || node.leader == false) ? node.leader : 'undefined'}}</td>
        </tr>
    </tbody>
</table>
-->
