/* app css stylesheet */
body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-variant: small-caps;
}
h3,
h5 {
  margin-bottom: 0;
  -webkit-transition: font-size 0.3s ease-out, opacity 0.3s ease-out;
  -moz-transition: font-size 0.3s ease-out, opacity 0.3s ease-out;
  -o-transition: font-size 0.3s ease-out, opacity 0.3s ease-out;
  transition: font-size 0.3s ease-out, opacity 0.3s ease-out;
}
th,
td {
  padding: 5px;
  border: 1px dashed white;
}
input {
  color: black;
}
#container {
  width: 100%;
  height: 98vh;
  margin: 0 auto 0 auto;
  border: 0 solid transparent;
  background-color: #124;
}
#menubar {
  height: 5%;
  width: 100%;
  padding-top: 2vh;
  background-color: lightgray;
}
#menubar ul {
  height: 100%;
  margin: 0 auto 0 auto;
  display: table;
  border-spacing: 10px 0;
  width: 40%;
}
#menubar ul .menuitem {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 44%;
  font-size: 0.7em;
  height: 100%;
  margin: 0 3% 0 3%;
  border-width: 0 5px 0 5px;
  background-color: #124;
  border-radius: 7px 7px 0 0;
}
#menubar ul .menuitem:hover {
  background-color: #126;
}
#menubar ul .menuitem a {
  color: white;
  text-decoration: none;
}
#main {
  width: 100%;
  background-color: #124;
  color: white;
}
#footer {
  width: 100%;
  display: inline-table;
  height: 1.2em;
  text-align: center;
  background-color: gold;
}
#nodearea {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 3% 10px;
  background-color: #124;
}
#nodearea .node {
  display: block;
  position: relative;
  opacity: 1;
  float: left;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2.1em;
  box-sizing: border-box;
  color: black;
  -webkit-transition: width 0.3s ease-out, margin-bottom 0.3s ease-out, height 0.3s ease-out;
  -moz-transition: width 0.3s ease-out, margin-bottom 0.3s ease-out, height 0.3s ease-out;
  -o-transition: width 0.3s ease-out, margin-bottom 0.3s ease-out, height 0.3s ease-out;
  transition: width 0.3s ease-out, margin-bottom 0.3s ease-out, height 0.3s ease-out;
}
#nodearea .node .node-main {
  border-color: transparent;
  border-radius: 0.5em;
  border-width: 0 5px 0 5px;
  border-style: solid;
  background-color: cornflowerblue;
  box-sizing: border-box;
  padding: 1%;
}
#nodearea .node .click-hint-wrapper {
  height: 1.4em;
}
#nodearea .node.upscaled {
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
  margin: 0;
  height: inherit;
}
#nodearea .node.upscaled h3.id-label {
  font-size: 2em;
}
#nodearea .node.reduced {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: width 0.3s ease-out, height 0.5s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
  -moz-transition: width 0.3s ease-out, height 0.5s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
  -o-transition: width 0.3s ease-out, height 0.5s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
  transition: width 0.3s ease-out, height 0.5s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
}
#nodearea .node.primary {
  border-color: #c4e3f3;
}
#nodearea .node.primary:hover {
  border-color: #7cf1ca;
}
#nodearea .node.primary:hover .primary-label {
  color: #7cf1ca;
}
#nodearea .node.primary .primary-label {
  font-style: italic;
  font-size: 0.8em;
  color: #c4e3f3;
}
#nodearea .node.summary {
  background-color: cadetblue;
  color: white;
}
#nodearea .node.summary:hover {
  background-color: #7cf1ca;
  color: black;
}
#nodearea .node.non-upscaled:hover .node-main {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #1972ff;
  -webkit-transition: border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
  -moz-transition: border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
  -o-transition: border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
  transition: border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
}
#nodearea .node.non-upscaled:hover .click-hint {
  height: 1.4em;
  background-color: #1972ff;
}
#nodearea .node.upscaled .click-hint {
  height: 0;
}
#nodearea .node .click-hint {
  overflow: hidden;
  height: 0;
  position: relative;
  border-color: transparent;
  border-width: 0 5px 0 5px;
  border-style: solid;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  box-sizing: border-box;
  padding: 0 1%;
  -webkit-transition: height 0.2s ease-in-out, border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
  -moz-transition: height 0.2s ease-in-out, border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
  -o-transition: height 0.2s ease-in-out, border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
  transition: height 0.2s ease-in-out, border-bottom-left-radius 0.3s ease-out, border-bottom-right-radius 0.3s ease-out;
}
#nodearea .node .click-hint-wrapper {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
#nodearea .node .primary-edge {
  width: 0;
  height: 0;
}
#nodearea .node .value-graph {
  display: none;
  width: 100%;
  text-align: center;
}
