<div id="failure-table">
    <h3>Timeline for Message Flow of Nodes</h3>
    <!--<span  style="color: black;">
        <button type="button" ng-click="$ctrl.setupTimeline(null,true)">Scale ON</button>
        <button type="button" ng-click="$ctrl.setupTimeline(null,false)">Scale OFF</button>
    </span>-->
    <div id="symbology">
        <!-- SYMBOLOGY SLOT -->
    </div>
    <div id="timeline">
        <!-- TIMELINE SLOT -->
    </div>
    <div id="fillin">
        <!-- FILL IN SPACE -->
    </div>
</div>